<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/usuario.css">
  <link rel="stylesheet" href="/css/area51.css">
  <title>Area 51</title>
</head>
<body>
  <header>
    <div>Logotipo Genérico</div>
    <button><a href="/logout">Logout</a></button>
    <div><strong><%= usuario.nome %></strong></div>
  </header>
  <main class="entrada">
    <h1>Area 51</h1>
    <img src="/img/aliens.jpg" alt="Aliens!!">
    <br>
    <p>Ó os aliens aí</p>
    <button class="paraHome"><a href="../">-_-...me leva para a Home, vai</a></button>
  </main>

  <footer>
    <div>Footer genérico</div>
    <div>Links para redes sociais</div>
  </footer>

</body>
</html>