<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/usuario.css">
  <link rel="stylesheet" href="/css/area51.css">
  <title>Sucesso!</title>
</head>
<body>
  <header>
    <div>Logotipo Genérico</div>
    <div>Info do usuário</div>
  </header>
  <main class="entrada">
    <h1>Area 51</h1>
    <h4>(Entrada)</h4>
    <img src="/img/entrada.jpg" alt="Entrada à área 51">
    <br>
    <p>Tem certeza que quer continuar...?</p>
    <button class="paraAliens"><a href="aliens">Tenho!</a></button>
  </main>

  <footer>
    <div>Footer genérico</div>
    <div>Links para redes sociais</div>
  </footer>

</body>
</html>