<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/usuario.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>
  <header>
    <div>Logotipo Genérico</div>
    <div>Info do usuário</div>
  </header>
  <main>
    <section>
      <h1>Area 51 (quase)</h1>
      <div>
        <section>
          <p>Calma! Primeiro você precisa logar, né?<br>Achou que íamos deixar qualquer um entrar?</p>
        </section>
      </div>
      <br>
      <form class='login' action="/login" method="POST">
        <label for="nome">E-mail:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <br>
        <% if(erro) { %>
          <p class="feedback">Email ou senha inválido!</p>
        <% } %>
        <button>Entrar</button>
      </form>

      <br>
      <p>Não tenho uma conta, melhor voltar mesmo</p>
      <button><a href="/">Ir pro início</a></button>
    </section>
  </main>

  <footer>
    <div>Footer genérico</div>
    <div>Links para redes sociais</div>
  </footer>

</body>
</html>