<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/usuario.css">
  <title>Sucesso!</title>
</head>
<body>
  <header>
    <div>Logotipo Genérico</div>
    <div>Info do usuário</div>
  </header>
  <main>
    <div class="sucesso">
      <h1>Parabéns!</h1>
      <br>
      <p>Você cadastrou um usuário com sucesso. <br> Quer cadastrar outro...? </p>
      <br>
      <button> <a href="cadastro">Bora cadastrar mais um!</a></button>
    </div>
  </main>

  <footer>
    <div>Footer genérico</div>
    <div>Links para redes sociais</div>
  </footer>

</body>
</html>